@import '~bootstrap/scss/bootstrap';

body {
  background-color: white;
}

.navbar {
  box-shadow: 0 2px 5px grey;

  .cart-section {
    display: block;
  }

  .cart {
    background: #004c9e;
    border-radius: 3px;
    padding: 0 10px;

    &.loading {
      background: transparent !important;

      .loading-spinner {
        display: block;
      }

      .cart-section {
        display: none;
      }
    }

    .loading-spinner {
      display: none;
    }
  }
}

.search-options {
  padding: 8px 0;
  background: #004c9e;
  display: flex;
  border-radius: 4px;
  margin: 10px;
}

.card {
  &.card__search {
    margin: 10px;
    background: #0072ff;
    color: white;
    border: 1px solid black;
    width: 18%;

    .card-img-book {
      height: 320px;
    }

    .search-card-body {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .btn-add-to-cart {
      color: #fff;
      background-color: #004c9e;
      border-color: #197fec;
      border-radius: 5px;

      &.add-in-progress {
        opacity: 0.4;
        pointer-events: none;
      }
    }

    .card-price {
      font-weight: bold;
    }
  }
}

.pagination__wrap {
  display: flex;
  justify-content: flex-end;
}

.form-row {
  height: 38px;
}

.content {
  width: 1070px;
  margin: 0 auto;
  margin-top: 75px;
}

.applied-coupon {
  padding: 5px 0;
  margin-bottom: 10px;
  position: relative;
}

.remove-coupon {
  border: 1px solid #ffd3d3;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 5px;
  top: 1px;
  background: red;
  color: white;
  text-decoration: none;
}

.form-error {
  font-size: 11px;
  color: red;

  ul {
    list-style: none;
    padding: 0;
  }
}

#checkout_form_expire_date_day {
  display: none;
}

.checkout-book-img {
  border: 1px solid gray;
  border-radius: 1px;
  box-shadow: -1px 2px 3px 0px grey;
}