{% extends "base.html.twig" %}

{% block body %}

<div class="row">
    <input type="hidden" id="page" value="checkput" />
    <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
    </h4>
    <ul class="list-group mb-3">
        {% for book in items %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">{{book.title}}</h6>
                <small class="text-muted">{{ (book.price)|format_currency('USD') }} x {{book.count}} <a href="/cart/remove/{{book.id}}">Remove</a></small>
            </div>
            <span class="text-muted">{{ (book.price*book.count)|format_currency('USD') }}</span>
        </li>            
        {% endfor %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
            <div>
                <h6 class="my-0">Total</h6>
            </div>
            <span class="text-muted">{{ total|format_currency('USD') }}</span>
        </li>

        {% if discount > 0 %}
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div>
                    <h6 class="my-0 text-success">Discount</h6>                
                </div>
                <span class="text-success">-{{ discount|format_currency('USD') }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                    <h6 class="my-0">Price after discount</h6>                
                </div>
                <span class="text-muted">{{ finalTotal|format_currency('USD') }}</span>
            </li>
        {% endif %}
    </ul>


    <form class="card p-2" action="/cart/coupon" method="post">
        {% if coupon %}
            <span href="#" class="badge applied-coupon bg-light">
            {{coupon}}
                <a href="/cart/coupon/remove" class="remove-coupon">x</a>
            </span>
        {% endif %}
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Promo code" name="coupon">
            <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
        </div>
    </form>
    </div>
    <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Billing address</h4>
    {{ form_start(checkoutForm, {attr: {'novalidate': 'novalidate'}}) }}
    <form class="needs-validation" novalidate="">
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form_label(checkoutForm.first_name) }}
                {{ form_widget(checkoutForm.first_name, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(checkoutForm.first_name) }}
                </div>
            </div>

            <div class="col-md-6 mb-3">
                {{ form_label(checkoutForm.last_name) }}
                {{ form_widget(checkoutForm.last_name, {'attr': {'class': 'form-control'}}) }}
                <div class="form-error">
                    {{ form_errors(checkoutForm.last_name) }}
                </div>
            </div>        
        </div>

        <div class="mb-3">
            {{ form_label(checkoutForm.email) }}
            {{ form_widget(checkoutForm.email, {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(checkoutForm.email) }}
            </div>
        </div>

        <div class="mb-3">
            {{ form_label(checkoutForm.address) }}
            {{ form_widget(checkoutForm.address, {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(checkoutForm.address) }}
            </div>
        </div>
        
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>

        <div class="row">
        <div class="col-md-6 mb-3">
            {{ form_label(checkoutForm.name_on_card) }}
            {{ form_widget(checkoutForm.name_on_card, {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(checkoutForm.name_on_card) }}
            </div>
        </div>
        <div class="col-md-6 mb-3">
            {{ form_label(checkoutForm.credit_card_number) }}
            {{ form_widget(checkoutForm.credit_card_number, {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(checkoutForm.credit_card_number) }}
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-md-3 mb-3">
            {{ form_label(checkoutForm.expire_date) }}
            {{ form_widget(checkoutForm.expire_date, {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(checkoutForm.expire_date) }}
            </div>
        </div>
        <div class="col-md-3 mb-3">
            {{ form_label(checkoutForm.cvv) }}
            {{ form_widget(checkoutForm.cvv, {'attr': {'class': 'form-control'}}) }}
            <div class="form-error">
                {{ form_errors(checkoutForm.cvv) }}
            </div>
        </div>
        </div>
        <hr class="mb-4">
        {{ form_row(checkoutForm._token) }}
        <button class="btn btn-primary btn-lg btn-block" type="submit">complete</button>
    </form>
    {{ form_end(checkoutForm) }}
    </div>
</div>

{% endblock %}