<nav class="navbar navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="/">Home</a>
    <a href='/cart/checkout'>
        <div class="cart" id='cart'>
            <div class="d-flex justify-content-center" style="color: white">
                <div class="spinner-border loading-spinner" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div class="cart-section">
                <svg style="font-size: 28px; padding: 5px; border-radius: 3px; color: white;" class="bi bi-cart3" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"></path>
                </svg>
                <span class="badge badge-light" id="total-price"></span>
            </div>
        </div>
    </a>
</nav>
