{% extends "base.html.twig" %}

{% block body %}
    <input type="hidden" id="page" value="index" />
    <div class="searched-books">
        <div class="search-options">
            <div class="col-12 form-row">
                <div class="col-7">
                    <select id="select-category" class="form-control">
                        <option value="0">Filter by category</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" {{( preFill|length > 0 and preFill["category"] == category.id) ? "selected" : ""}}>
                            {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="store col-md-5">
                    <div class="pagination__wrap">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>        
        </div>    

        <div class="d-flex align-content-stretch flex-wrap">       
            {% for book in pagination %}
                <div class="card card__search">
                    <img class="card-img-top card-img-book" src="{{ book.image }}">
                    <div class="card-body search-card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                            {{ book.title }}
                        </p>                    
                        <a href="/book/#{{book.id}}" data-book="{{ book.id }}" class="btn btn-primary btn-add-to-cart">{% trans %}add_to_cart{% endtrans %}</a>
                        <p class="card-text card-price">
                            {{book.price|format_currency('USD')}}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
